<div class="col-lg-4 col-sm-12 px-1">
  <label for="img">Imagen</label>
  <div class="card mb-4">
    <div class="card-body">
      <div class="form-group mb-0">
        <div class="input-group">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="inputGroupFile02"
              name="img"
            />
            <label
              class="custom-file-label"
              for="inputGroupFile02"
              aria-describedby="inputGroupFileAddon02"
              >Choose file</label
            >
          </div>

          <button type="submit" class="btn btn-primary rounded-circle mx-2">
            <span><i class="fa fa-upload"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
