<div class="col-lg-4 col-sm-12 px-1">
  <label for="img">Imagen</label>
  <span class="show" color="red">Debe subir una imagen</span>
  <div class="card mb-4">
    <div class="card-body">
      <div class="form-group mb-0">
        <div class="input-group">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="inputGroupFile02"
              required
              name="img"
              accept="image/png,image/jpg,image/jpeg,image/gif"
            />
            <label
              class="custom-file-label"
              for="inputGroupFile02"
              aria-describedby="inputGroupFileAddon02"
              >Choose file</label
            >
          </div>



        </div>
      </div>
    </div>
  </div>
</div>
