<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= title %></h1>

    <form action="/dashboard<%= actionUrl %>" method="post">
      <div>
        <label for="">Titulo</label>
        <input type="text" name="title" value="<%= user.email %>" />
      </div>

      <div>
        <button>Guardar</button>
      </div>
      <div>
        <a href="/dashboard">Cancelar</a>
      </div>
    </form>
  </body>
</html>
