<!DOCTYPE html>
<html lang="en">
  <!-- Include Head -->
  <%- include('../partials/head', {title: 'Proyecto'}) %>
  <body>
    <h1><%= title %></h1>

    <form action="/dashboard<%= actionUrl %>" method="post">
      <div>
        <label for="">Titulo</label>
        <input type="text" name="title" value="<%= user.email %>" />
      </div>

      <div>
        <button>Guardar</button>
      </div>
      <div>
        <a href="/dashboard">Cancelar</a>
      </div>
    </form>
  </body>
</html>
