<!DOCTYPE html>
<html lang="en">

	<!-- Include Head -->
	<%- include('partials/head', {title: 'Head'}) %>

<body>

	<!-- Include Header -->
	<%- include('partials/banner_01', {title: 'Banner'}) %>

	<!-- Include Footer -->
	<%- include('partials/footer', {title: 'Footer'}) %>

</body>
</html>