<!DOCTYPE html>
<html lang="en">
  <!-- Include Head -->
  <%- include('partials/head', {title: 'Proyecto'}) %>

  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
          <form
            action="/users/login"
            method="POST"
            class="login100-form"
          >
            <span class="login100-form-title p-b-33">
              Login
            </span>

            <!-- Validation Result -->

            <% if(errors) { %>
              
            <% errors.forEach(error => { %>
              <span class="login20-title-err p-b-33">
                <%= error.msg %>
              </span>
            <% }) %>

            <% } %>


            <div
              class="wrap-input100"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input
                class="input100"
                type="email"
                name="email"
                placeholder="Email"
              />
              <span class="hide">El email debe ser un email valido</span>
              <span class="focus-input100-1"></span>
              <span class="focus-input100-2"></span>
            </div>

            <div class="wrap-input100-rs1">
              <input
                class="input100"
                type="password"
                name="password"
                placeholder="Password"
              />
              <span class="hide">El password no puede estar vacio</span>
              <span class="focus-input100-1"></span>
              <span class="focus-input100-2"></span>
            </div>

            <!--Chekbox-->
            <div class="checkbox" style="margin: 25px;">
              <input
                type="checkbox"
                name="recordarUser"
                class="form-check-input"
              />
              <label class="form-check-label" for="recordarUser"
                >Recordar mi usuario al iniciar sesión</label
              >
            </div>

            <div class="container-login100-form-btn m-t-20">
              <button type="submit" value="enviar" name="submit" class="login100-form-btn">
                Enviar
              </button>
            </div>
            <div class="registro">
              <a class="txt"> ¿Sos Nuevo? </a>
              <a href="/users/register" class="txt hov1">
                Registrate
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script  src="/javascript/loginValidator.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.1.1/validator.min.js" integrity="sha512-rVYlbsnsxljzvf4sgKzI6ncbNKKxupFhoQ/9ptW7R5fhKE9wQevsfUAZEbJ6xl+VyaiGm3lAKChPLoV/VuaZJA==" crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"
  ></script>
  </body>
</html>
