<!DOCTYPE html>
<html lang="en">
  <!-- Include Head -->
  <%- include('partials/head', {title: 'Proyecto'}) %>
  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
          <form
            action="/users/register"
            method="POST"
            class="login100-form"
            enctype="multipart/form-data"
          >
            <span class="login100-form-title p-b-33">
              Registrate
            </span>

            <!-- Validation Result -->

            <% errors.forEach(error => { %>
            <span class="login20-title-err p-b-33">
              <%= error.msg %>
            </span>
            <% }) %>

           <!--Nombre-->
           <div class="wrap-input100">
            <input
              class="input100"
              type="text"
              name="firstName"
              placeholder="Nombre"
            />
            <span class="focus-input100-1"></span>
            <span class="focus-input100-2"></span>
          </div>
          
          <!--Apellido-->
          <div class="wrap-input100">
            <input
              class="input100"
              type="text"
              name="lastName"
              placeholder="Apellido"
            />
            <span class="focus-input100-1"></span>
            <span class="focus-input100-2"></span>
          </div>

          <!--Email-->
            <div class="wrap-input100" data-validate="Valid email is required: ex@abc.xyz">
              <input
                class="input100"
                type="email"
                name="email"
                placeholder="Email"
              />
              <span class="focus-input100-1"></span>
              <span class="focus-input100-2"></span>
            </div>

            <!--Password-->
            <div class="wrap-input100 rs1">
              <input
                class="input100"
                type="password"
                name="password"
                placeholder="Password"
              />
              <span class="focus-input100-1"></span>
              <span class="focus-input100-2"></span>
            </div>

            <!--Confirm Password-->
            <div class="wrap-input100 rs1">
              <input
                class="input100"
                type="password"
                name="confirm_password"
                placeholder="Confirm Password"
              />
              <span class="focus-input100-1"></span>
              <span class="focus-input100-2"></span>
            </div>

            <!-- Image Upload-->
            <div class="wrap-input">
              <input
                type="file"
                class="input100"
                style="height: unset; margin-top: 25px;"
                name="avatar"
              />
            </div>

            <!--Chekbox-->
            <div class="checkbox" style="margin: 25px;">
              <input
                type="checkbox"
                name="recordarUser"
                class="form-check-input"
              />
              <label class="form-check-label" for="recordarUser"
                >Recordar mi usuario al iniciar sesión</label
              >
            </div>
            <div class="container-login100-form-btn m-t-20">
              <button type="submit" value="enviar" class="login100-form-btn">
                Enviar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div> 
    <script  src="/javascript/registerValidator.js" type="text/javascript"></script>
  </body>
 
</html>
