<!DOCTYPE html>
<html lang="en">
  <!-- Include Head -->

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/publication.css" />
    <!-- Google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700"
      rel="stylesheet"
    />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!-- Login - Register -->
    <link rel="stylesheet" href="/css/loginp.css" />
    <!-- Publication Stylesheet -->
    <link rel="stylesheet" href="/css/publication.css" />
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/css/app.css" />
    <!-- Fonts Awesome -->
    <script src="https://use.fontawesome.com/142d130b8e.js"></script>
  </head>

  <body>
    <!-- Include Header -->
    <%- include('../partials/navbar') %>

    <!-- SECTION -->
    <div class="section">
      <!-- General -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4 class="ml-2"> Nueva Publicacion</h4>
            <legend class="my-4 ml-2">Producto</legend>
            <form class="shadow-sm p-5">
              <fieldset>
                <!-- Carrousell -->

                <!-- probando Sliders de Image Upload -->

                

                <!-- /probando Sliders -->

                <!-- /Carrousell -->

                <label for="name">Nombre del Producto</label>
                <input class="border" type="text" id="name" name="nombre" />

                <label for="mail">Modelo</label>
                <input class="border" type="text" id="name" name="modelo" />

                <label for="price">Precio</label>
                <input class="border" type="number" id="name" name="precio" />

                <label for="stock">Stock</label>
                <input class="border" type="number" id="name" name="stock" />

                <label for="">Categoria</label>

                <select class="border" name="idCategoria">
                  <% categorias.forEach(categoria =>{ %>

                  <option value="<%= categoria.id %>">
                    <%= categoria.nombre %>
                  </option>

                  <% }) %>
                </select>

                <label>Estado</label>
                <input
                  type="radio"
                  id="under_13"
                  value="under_13"
                  name="user_age"
                /><label for="under_13" class="light">Nuevo</label><br />
                <input
                  type="radio"
                  id="over_13"
                  value="over_13"
                  name="user_age"
                /><label for="over_13" class="light">Usado</label><br />
                <input
                  type="radio"
                  id="over_13"
                  value="over_13"
                  name="user_age"
                /><label for="over_13" class="light">Re acondicionado</label
                ><br />
              </fieldset>
            </form>
          </div>
        </div>
      </div>

      <!-- Ficha Tecnica -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <legend class="mt-4 mb-4 ml-2">Ficha Tecnica</legend>
            <form class="shadow-sm p-5">
              <fieldset>
                <label for="bio">Descripcion</label>
                <textarea class="border" id="bio" name="user_bio"></textarea>
              </fieldset>

              <label>Garantia</label>
              <input
                type="radio"
                id="under_13"
                value="under_13"
                name="user_age"
              /><label for="under_13" class="light">del vendedor</label><br />
              <input
                type="radio"
                id="over_13"
                value="over_13"
                name="user_age"
              /><label for="over_13" class="light">de fabrica</label><br />
              <input
                type="radio"
                id="over_13"
                value="over_13"
                name="user_age"
              /><label for="over_13" class="light">sin garantia</label><br />
            </form>
          </div>
        </div>
      </div>

      <!-- Publicacion -->

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <legend class="mt-4 mb-4 ml-2">Publicacion</legend>
            <form class="shadow-sm p-5">
              <fieldset>
                <label for="job">Tipo de Publicacion:</label>
                <select id="job" class="border" name="user_job">
                  <option value="php_developor">Clasica</option>
                  <option value="python_developer">Premium</option>
                </select>
              </fieldset>

              <label>Envio:</label>
              <input
                type="radio"
                id="under_13"
                value="under_13"
                name="user_age"
              /><label for="under_13" class="light">Capital Federal</label
              ><br />
              <input
                type="radio"
                id="over_13"
                value="over_13"
                name="user_age"
              /><label for="over_13" class="light">GBA</label><br />
              <input
                type="radio"
                id="over_13"
                value="over_13"
                name="user_age"
              /><label for="over_13" class="light">Todo el pais</label><br />
            </form>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="mx-auto my-5">
            <button type="submit">
              <a class="primary-btn order-submit text-white"
                >Crear Publicacion</a
              >
            </button>
          </div>
        </div>
      </div>

      <!-- /section -->
    </div>

    <!-- Include Footer -->
    <%- include('../partials/footer') %>

    <script src="/javascript/publicacion.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
