<div class="section">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">Basados en tu Última visita</h3>
          <div class="section-nav">
            <ul class="section-tab-nav tab-nav">
              <li class="active">
                <a data-toggle="tab" href="#tab1">Laptops</a>
              </li>
              <li><a data-toggle="tab" href="#tab1">Smartphones</a></li>
              <li><a data-toggle="tab" href="#tab1">Cameras</a></li>
              <li><a data-toggle="tab" href="#tab1">Accessories</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- /section title -->

      <% for (let i = 0; i < 4; i++) { %>

      <div class="col-xs-12 col-md-6 col-lg-3">
        <!-- product -->
        <div class="product">
          <div class="product-img">
            <img src="/images/products/product01.png" alt="" />
            <div class="product-label">
              <span class="sale">-30%</span>
              <span class="new">Nuevo</span>
            </div>
          </div>
          <div class="product-body">
            <p class="product-category">Categoria</p>
            <h3 class="product-name">
              <a href="#"><%= product[i].nombre %></a>
            </h3>
            <h4 class="product-price">
              $<%= product[i].precio %>
              <del class="product-old-price">$990.00</del>
            </h4>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
              <button class="add-to-wishlist">
                <i class="fa fa-heart-o"></i
                ><span class="tooltipp"
                  ><a class="text-white" href="/product/product-view"
                    >Me gusta!</a
                  ></span
                >
              </button>
              <button class="quick-view">
                <i class="fa fa-eye"></i
                ><span class="tooltipp"
                  ><a class="text-white" href="/product/product-view"
                    >Ver Producto</a
                  ></span
                >
              </button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn">
              <a href="/cart/add/<%= product[i].idProducto %>"><i class="fa fa-shopping-cart"></i> comprar </a>
            </button>
          </div>
        </div>
        <!-- /product -->
      </div>
      <% } %>
    </div>
  </div>
</div>
