<div class="section">
  <div class="container">
    <div class="row">
      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">Basados en tu Última visita</h3>
          <div class="section-nav">
            <ul class="section-tab-nav tab-nav">
              <li class="active">
                <a data-toggle="tab" href="#tab1">Laptops</a>
              </li>
              <li><a data-toggle="tab" href="#tab1">Smartphones</a></li>
              <li><a data-toggle="tab" href="#tab1">Cameras</a></li>
              <li><a data-toggle="tab" href="#tab1">Accessories</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- /section title -->

      <% products.forEach(product => { %>

      <%- include('product', {product}) %>

      <% }) %>
     
    </div>
  </div>
</div>
