<!-- FOOTER -->
<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Conocenos!</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut.
            </p>
            <ul class="footer-links">
              <li>
                <a href="#"><i class="fa fa-map-marker"></i>Lima</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-phone"></i>0221-1123141</a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-envelope-o"></i>equipo5@gmail.com</a
                >
              </li>
            </ul>
          </div>
        </div>

        <% for(let i=0; i < footer.length; i++) { %>
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title"><%= footer[i].title%></h3>
              <ul class="footer-links">
                <% for(let j=0; j < footer[i].links.length; j++) { %>
                  <li><a href="<%= footer[i].links[j].href %>"><%= footer[i].links[j].label %></a></li>
                <%}%>
              </ul>
            </div>
          </div>
        <%}%>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->
</footer>
<!-- /FOOTER -->
