<!-- FOOTER -->
<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Conocenos!</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut.
            </p>
            <ul class="footer-links">
              <li>
                <a href="#"><i class="fa fa-map-marker"></i>Lima</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-phone"></i>0221-1123141</a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-envelope-o"></i>equipo5@gmail.com</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Categorías</h3>
            <ul class="footer-links">
              <li><a href="#">Ofertas</a></li>
              <li><a href="#">Laptops</a></li>
              <li><a href="#">Smartphones</a></li>
              <li><a href="#">Cámaras</a></li>
              <li><a href="#">Accessorios</a></li>
            </ul>
          </div>
        </div>

        <div class="clearfix visible-xs"></div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Información</h3>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contacto</a></li>
              <li><a href="#">Política de Privacidad</a></li>
              <li><a href="#">Ordenes y Devoluciones</a></li>
              <li><a href="#">Términos y Condiciones</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Servicio</h3>
            <ul class="footer-links">
              <li><a href="#">My Cuenta</a></li>
              <li><a href="#">Carrito</a></li>
              <li><a href="#">Favoritos</a></li>
              <li><a href="#">Trackear mi Pedido</a></li>
              <li><a href="#">Ayuda</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->
</footer>
<!-- /FOOTER -->
