<!-- HEADER -->
<header >
  <!-- MAIN HEADER -->
  <div id="header">
    <nav class="navbar">
      <div class="container">
        <div class="row align-items-center">
          <!-- LOGO -->

          <div class="col-3">
            <div class="header-logo">
              <a href="#" class="logo">
                <img src="/images/logo/logo.png" alt="" />
              </a>
            </div>
          </div>

          <!-- LOGO -->

          <!-- SEARCH BAR -->

          <div class="col-6">
            <div class="input-group md-form form-sm form-2 pl-0">
              <input
                class="form-control my-0 py-1 amber-border"
                type="text"
                placeholder="Search"
                aria-label="Search"
              />
              <div class="input-group-append">
                <span class="input-group-text amber lighten-3" id="basic-text1"
                  ><i class="fa fa-search text-grey" aria-hidden="true"></i
                ></span>
              </div>
            </div>
          </div>

          <!-- /SEARCH BAR -->

          <div class="col-3">
            <div
              class="row"
              style="justify-content: space-evenly; align-items: center;"
            >
              <!-- Wishlist -->

              <button
                type="button"
                class="btn btn-dark"
                style="border-radius: 50px;"
              >
                <i class="fa fa-heart"></i>
              </button>

              <!-- /Wishlist -->

              <!-- Carrito -->

              <div class="dropdown">
                <button
                  class="btn btn-dark dropdown-toggle"
                  style="border-radius: 50px;"
                  class="dropdownMenuButton"
                  data-toggle="dropdown"
                >
                  <i class="fa fa-shopping-cart"></i>

                  <div
                    class="qty"
                    style="position: absolute; right: -5px; top: -12px;"
                  >
                    <span class="badge badge-danger">2</span>
                  </div>
                </button>
                <div class="dropdown-menu">
                  <!-- Cart -->
                  <div class="cart-dropdown">
                    <div class="cart-list">
                      <div class="product-widget">
                        <div class="product-img">
                          <img src="/images/products/product01.png" alt="" />
                        </div>
                        <div class="product-body">
                          <h3 class="product-name">
                            <a href="#">product name goes here</a>
                          </h3>
                          <h4 class="product-price">
                            <span class="qty">1x</span>$980.00
                          </h4>
                        </div>
                        <button class="delete">
                          <i class="fa fa-close"></i>
                        </button>
                      </div>
                      <div class="product-widget">
                        <div class="product-img">
                          <img src="/images/products/product02.png" alt="" />
                        </div>
                        <div class="product-body">
                          <h3 class="product-name">
                            <a href="#">product name goes here</a>
                          </h3>
                          <h4 class="product-price">
                            <span class="qty">3x</span>$980.00
                          </h4>
                        </div>
                        <button class="delete">
                          <i class="fa fa-close"></i>
                        </button>
                      </div>
                    </div>
                    <div class="cart-summary">
                      <small>3 Item(s) selected</small>
                      <h5>SUBTOTAL: $2940.00</h5>
                    </div>
                    <div class="cart-btns">
                      <a href="#">View Cart</a>
                      <a href="#"
                        >Checkout <i class="fa fa-arrow-circle-right"></i
                      ></a>
                    </div>
                  </div>
                  <!-- /Cart -->
                </div>
              </div>

              <!-- /Carrito -->

              <!-- Mi Cuenta -->

              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-dark dropdown-toggle"
                  style="border-radius: 50px;"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fa fa-user"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#" style="padding: 20px 20px;">
                    <i class="fa fa-user-circle" style="margin-right: 10px;"></i
                    ><h7>Mi Cuenta</h7></a
                  >
                  <a class="dropdown-item" href="#" style="padding: 15px 15px;">
                    <i
                      class="fa fa-user-circle"
                      style="margin-right: 10px;"
                    ></i>
                    <h7>Vender</h7></a
                  >
                  <a class="dropdown-item" href="#" style="padding: 20px 20px;"
                    ><i class="fa fa-power-off" style="margin-right: 10px;"></i
                    ><h7>Mi Compras</h7></a
                  >
                  <a class="dropdown-item" href="#" style="padding: 20px 20px;">
                    <i class="fa fa-power-off" style="margin-right: 10px;"></i
                    ><h7>Cerrar Sesión</h7>
                  </a>
                  <a class="dropdown-item" href="#" style="padding: 20px 20px;"
                    ><i class="fa fa-power-off" style="margin-right: 10px;"></i
                    ><h7>Registrarse</h7></a
                  >
                </div>
              </div>

              <!-- /Mi Cuenta -->
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->
