<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <!-- Google font -->
  <link
    href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700"
    rel="stylesheet"
  />
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Login - Register -->
  <link rel="stylesheet" href="/css/loginp.css" />
  <!-- Custom Stylesheet -->
  <link rel="stylesheet" href="/css/app.css" />
  <!-- Fonts Awesome -->
  <script src="https://use.fontawesome.com/142d130b8e.js"></script>
</head>
